<html lang="fr">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Fiche Agent</title>
    <link href="./css/template.css" rel="stylesheet">
    <body>
        <div style="display: flex; justify-content: space-between;width: 100%;">
            <div style="justify-content: flex-start">
                <ul style="list-style: none">
                    <li>Nom : Berthier</li>
                </ul>
            </div>
            <div style="justify-content: flex-end; width: 400px; height: 250px">
                <img width="400" height="250" src="../bd/ficheAgent/cberthier.jpg">
            </div>
        </div>
        <div>
            <div style="display:flex; justify-content: center">
                <div>
                    <ul style="list-style: none">
                        <li class='margin'>Mousqueton </li>
                        <li class='margin'>Gant d'intervention </li>
                        <li class='margin'>Brassards de sécurité </li>
                        <li class='margin'>Porte menottes </li>
                        <li class='margin'>Bandeau agent cynophile </li>
                        <li class='margin'>Talkies walkies </li>
                        <li class='margin'>Lampe torche </li>
                        <li class='margin'>Kit oreillette </li>
                        <li class='margin'>Tasers </li>
                        <li class='margin'>Bombes lacrymogenes </li>
                    </ul>
                </div>
                <div>
                    <ul style="list-style: none">
                        <li><input type="checkbox" ></li>
                        <li><input type="checkbox" ></li>
                        <li><input type="checkbox" ></li>
                        <li><input type="checkbox" ></li>
                        <li><input type="checkbox" ></li>
                        <li><input type="checkbox" ></li>
                        <li><input type="checkbox" checked></li>
                        <li><input type="checkbox" checked></li>
                        <li><input type="checkbox" ></li>
                        <li><input type="checkbox" checked></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>

