<html lang="fr">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Fiche Agent</title>
    <link href="./css/template.css" rel="stylesheet">
    <body>
        <div>
            <div style="display: flex; justify-content: space-evenly; width: 100%">
                <div class="display-flex-center" style="align-items: center; width: 200px; height: 150px">
                    <h2>Nom : Rouletabille</h2>
                </div>
                <div class="display-flex-center" style="width: 200px; height: 150px">
                    <img src="securi.png" alt="GO Securi">
                </div>
                <div class="display-flex-center" style="width: 200px; height: 150px">
                    <img width="300" height="180" src="jrouletabille.jpg">
                </div>
            </div>
            <div>
                <div class="display-flex-center">
                    <h3>Liste des accessoires disponibles pour la mission en cours :</h3>
                </div>
                <div style="display:flex; justify-content: center">
                    <div>
                        <ul style="list-style: none; padding: 0">
                            <li class='margin'>Mousqueton </li>
                            <li class='margin'>Gant d'intervention </li>
                            <li class='margin'>Brassards de securite </li>
                            <li class='margin'>Porte menottes </li>
                            <li class='margin'>Bandeau agent cynophile </li>
                            <li class='margin'>Talkies walkies </li>
                            <li class='margin'>Lampe torche </li>
                            <li class='margin'>Kit oreillette </li>
                            <li class='margin'>Tasers </li>
                            <li class='margin'>Bombes lacrymogenes </li>
                        </ul>
                    </div>
                    <div>
                        <ul style="list-style: none">
                            <li><input type="checkbox" ></li>
                            <li><input type="checkbox" ></li>
                            <li><input type="checkbox" ></li>
                            <li><input type="checkbox" ></li>
                            <li><input type="checkbox" ></li>
                            <li><input type="checkbox" ></li>
                            <li><input type="checkbox" ></li>
                            <li><input type="checkbox" checked></li>
                            <li><input type="checkbox" ></li>
                            <li><input type="checkbox" checked></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>


