<html lang="fr">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Liste des Agents</title>
    <link href="./css/template.css" rel="stylesheet">
    <body>
        <div>
            <h1 class="text-align-center">Bienvenue sur l'application GO Securi</h1>
            <div class="display-flex-center">
                <img src="securi.png" alt="GO Securi">
            </div>
            <div class="display-flex-center">
                <h2>Liste des agents</h2>
                <ul class="li-style-none">
					<li><a href=afoley.html>afoley</a></li>
					<li><a href=cberthier.html>cberthier</a></li>
					<li><a href=jmacclane.html>jmacclane</a></li>
					<li><a href=jrouletabille.html>jrouletabille</a></li>
					<li><a href=jwest.html>jwest</a></li>
					<li><a href=mriggs.html>mriggs</a></li>
					<li><a href=sconnor.html>sconnor</a></li>
					<li><a href=sholmes.html>sholmes</a></li>
                </ul>
            </div>
        </div>
    </body>    <footer class="footer">
        <div>
            Copiright @ 2022 -- Alessandra Quentin / Arnaud Remi / Baran Lola / Barchi Mehdi
        </div>
    </footer>
</html>
